.brand {
  color: white;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}

.brand, h1, h2, h3, h4 {
	font-family: ff-cocon-pro, sans-serif;
	font-style: italic;
	font-weight: 400;
}
